@model BM.Models.TestSystem.Mcq
@{
	int cnt = 1;
	int rowId = 1;
}
@Html.Partial("InterviewTest/_McqDisplayQuestionSection", @Model.QuestionTitleInRichText)
@Html.Partial("InterviewTest/Components/_QuestionInRichText", @Model.QuestionInRichText)
<br />
@foreach (var subQuestion in Model.MultiQuestion.OrderBy(f => f.QuestionId))
{
	rowId = 1;
	<div>Sub Question: @subQuestion.QuestionId</div>

	<div>@subQuestion.QuestionTitleInRichText</div>

	<div class="col-sm-12 mt-10 mb-30">
		<table class="table table-bordered question-group-table">
			<thead>
				<tr>
					<th>Option</th>
					@foreach (var option in subQuestion.Option)
					{
						<th>@Html.Raw(@option.Display)</th>
					}
				</tr>
			</thead>
			@foreach (var option in subQuestion.Option.Take(2))
			{
				var typeName = subQuestion.Option.FirstOrDefault(f => f.OptionNo == rowId).Display;
				var name = "radio" + cnt++;

				<tr>
					<td>@Html.Raw(typeName)</td>

					@foreach (var subQuestionOption in subQuestion.Option)
					{
						var id = "subQuestionRadio" + subQuestionOption.Id.ToString();
						var isChecked = false;
						if (subQuestion.UserAnswers != null && subQuestion.UserAnswers.Count > 0 && subQuestion.UserAnswers[rowId - 1] != null)
						{
							isChecked = subQuestion.UserAnswers[rowId - 1].Id == subQuestionOption.Id;
						}

						<td>
							<label class="radio-dk">
								<input type="radio" name="@name" id="@id" value="@subQuestionOption.OptionNo" data-option-id="@subQuestionOption.Id.ToString()"
									   data-subquestion-id="@subQuestion.Id.ToString()" checked="@isChecked">
								<span class="checkmark"></span>
							</label>
						</td>
					}
				</tr>
				rowId = rowId + 1;
			}
		</table>
	</div>

}